/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* top-player style */
.top-players {
    margin-bottom: 21px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 40px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}


/* -----------------top blog style--------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap: 79px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
    color: #000000;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* --------------Latest Courses Stytes----------- */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)
}

.course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

/* Media Queries */
/* mobile devices */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog,
    .course {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .courses {
        row-gap: 20px;
    }
}

/* tablet devices */
@media only screen and (min-width: 689px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .player,
    .blog,
    .course {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .courses {
        row-gap: 20px;
    }
}